
.query-block-container {
    display: flex;  /* Stack children vertically */
    flex-direction: column;  /* This is the default value, but we specify it for clarity */
    margin: 20px 0;  /* Some vertical spacing between query blocks if stacked */
    padding: 10px;  
    background-color: #f5f5f5;  /* Light gray background */
    border-radius: 10px;  /* Rounded edges */
    transition: transform 0.3s ease; 
}

.query-block-container:hover {
    transform: scale(1.01);  /* Slightly expand the block on hover */
}

.query-block-title {
    font-size: 20px; 
    font-weight: bold;
    margin-bottom: 10px;  /* Some space below the title */
}

.query-content-wrapper {
    display: flex;
    font-size: 18px;
}

.query-block-data {
    flex: 6;  /* 60% */
    padding: 10px;
}

.query-block-price,
.query-block-date,
.query-block {
    margin-bottom: 5px;  
}

.query-block-image-container {
    flex: 4;  /* 40% */
    display: flex;  
    flex-direction: column;  /* Stack children vertically */
    align-items: center;  /* Center children horizontally */
    padding: 10px;
}

.query-block-image-container button {
    margin: 5px 0;  /* Some vertical space between buttons */
    cursor: pointer;
}

.query-block-image {
    /* width: 100%; */
    /* max-width: 200px;  */
    max-height: 100px; 
}

.query-content-wrapper {
    font-size: 18px;    
}