.response-container {
    background-color: rgb(238, 238, 238);
    border-radius: 10px; 
    width: 40%;
    margin: auto;
    padding: 10px; /* Add padding to the container for breathing space */
    margin-top: 20px;
}

.response-item {
    display: flex; /* The key to aligning items side by side */
    align-items: center; /* Vertically align the icon and the text in the center */
    margin-bottom: 10px; /* Space between each response */
}

.response-icon {
    margin-right: 10px; /* Space between the icon and the text */
}
